{include file='common/html'}
    <link rel="stylesheet" href="__PUBLIC__/style/list.css" type="text/css" />


</head>
<body id="list_style_2" class="list_style_2">
 <script>
 function subForm()
 {

 formsearch.submit();
 //form1为form的id
 }
 </script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div>
 {include file='common/header'}

</div>
    <div id="wrapper">
       

    <div id="xh_container">
        <div id="xh_content">

        <div class="path"><a href="{:url('index/index')}">主页</a> >{volist name='posArr' id='v'} <a href="{:url('artlist/index?cateid='.$v['id'])}">{$v.catename}</a> > {/volist}</div><div class="clear"></div>
            <div class="xh_area_h_3" style="margin-top: 40px;">

                {volist name='list' id='v'}
                <div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="{:url('article/index?artid='.$v['id'])}" title="{$v.title}">
                                    <img src="__IMG__{$v.pic}" alt="{$v.title}" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="{:url('article/index?artid='.$v['id'])}" title="{$v.title}">{$v.title}</a>
                                </h2>
                                <span class="time">{$v.time|date="Y年n月d日",###}</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                    {$v.desc}

                                
                                </div>
                                <div class="b">
                                    <a href="{:url('article/index?artid='.$v['id'])}" class="xh_readmore" rel="nofollow">read
                                        more</a>
                                    <span title="0人赞" class="xh_love">
                                        <span class="textcontainer">
                                            <span>10</span>
                                        </span> </span>
                                    <span title="{$v.click}人浏览" class="xh_views">
                                                    {$v.click}</span>
                                </div>
                            </div>
                        </div>
                {/volist}
                {$list->render()}

            </div>
        </div>
        <div id="xh_sidebar">        
<!-- 右侧 -->

         <div class="widget">

<div style="background: url('__PUBLIC__/style/img/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div>
<ul id="ulHot">

{volist name='hot' id='v'}
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="{:url('article/index?id='.$v['id'])}" target="_blank"><img src="__IMG__{$v.pic}" width="83" title="{$v.title}" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="/lookbike/bmx/213.html" target="_blank" title="{$v.title}">{$v.title}</a></div>
</li>
    {/volist}



</ul>
                </div>
            
            <div class="widget portrait">
    <div>
        <div class="textwidget">
            <a href="/tougao.html"><img src="__PUBLIC__/style/img/tg.jpg" alt="鎶曠ǹ"></a><br><br>          
<script type="text/javascript">BAIDU_CLB_fillSlot("870073");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870080");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870081");</script>
        </div>
    </div>
</div>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>

    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    <script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script>

    </div>

 {include file='common/foot'}
<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="__PUBLIC__/style/z700bike_global.js"></script>

</body>
</html>
