<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="/" title=""></a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">

            <ul id="jsddm">
                <li><a class="navi_home" href="/">首页</a></li>

                {volist name='nav' id='v'}
                <li><a href="http://www.qiye.com/index.php/index/{if condition="$v['type'] eq 1"}artlist{elseif condition="$v['type'] eq 2"}page{elseif condition="$v['type'] eq 3"}imglist{/if}/index/cateid/{$v.id}"
                       {if condition="$v['children'] neq 0"}class="navi_home"{/if} >{$v.catename}</a>
                    {if condition="$v['children'] neq 0"}

                    <ul>
                        <?php foreach($v['children'] as $k1=>$v1):?>
                        <li><a href="http://www.qiye.com/index.php/index/{if condition="$v['type'] eq 1"}artlist{elseif condition="$v['type'] eq 2"}page{elseif condition="$v['type'] eq 3"}imglist{/if}/index/cateid/{$v1.id}"><?php echo $v1['catename'];?></a></li>
                        <?php endforeach;?>
                    </ul>
                    {/if}
                </li>
                {/volist}
            </ul>
            <div style="clear: both;">
            </div>
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
                    <form  name="formsearch" action="http://www.qiye.com/index.php/index/search/index" method="get">
                        <input name="q" type="text" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
                    </form>
                </div>
                <div style="float: left;">
                    <img src="__PUBLIC__/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px;" onclick="subForm()"  /></div>
                <div style="clear: both;">
                </div>
            </div>
        </div>

    </div>
</div>